/* GLOBAL */
body {
  font-family: 'Merriweather', serif;
}

a,
button {
  cursor: pointer;
}

/* for responsive images */
img {
  max-width: 100%;
  height: auto;
}


/* TYPOGRAPHY */
.raleway {
  font-family: 'Raleway', sans-serif;
}

.merri {
  font-family: 'Merriweather', serif;
}

.t-link {
  text-decoration: none; /* remove underlines */
}

/* accessibly hide content */
.t-hidden {
  position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/* BUTTONS */
.bb-button {
  padding: 6px 12px;
  font-size: 1rem;
  background-color: #B5F44A;
  color: #484041;
}

.bb-button:hover,
.bb-button:focus {
  background-color: #c2f66a;
}

/* LINKS */
.bb-icon-link {

}

.bb-icon-link-image {
  width: 72px;
  height: 72px;
}


/* LISTS */

/* LAYOUT */
.bb-section {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
}

/* FORM ELEMENTS */

.bb-form-field-group {

}

.bb-form-field-label {

}

.bb-form-field-input {

}